:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  font-family: sans-serif;
  min-width: 320px;
  min-height: 100vh;
}


/* Custom styles - not the default vite styles(above)*/

.color-picker {
  text-align: center;
  padding: 10px;
}


.color-list {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.color-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 2rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.color-code {
  position: absolute;
  top: 35%;
  left: 15%;
  background: none;
  color: #fff;
  font-weight: bolder;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 1rem;
}
